/* Custom Styles */
.sidebar-brand-text {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: var(--main-primary);
}

.sidebar-brand, .topbar {
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  border-bottom-width: 1px;
  height: 80px !important;
}

.sidebar .nav-link {
  font-weight: normal !important;
  width: 100% !important;
  margin: 5px 0px;
  padding: 9px !important;
  border-radius: 4px;
  color: var(--main-primary) !important;
}

.sidebar .nav-link * {
  font-style: normal;
  font-size: 16px !important;
  line-height: 21px;
}

.sidebar .nav-link span.material-icons {
  font-size: 25px !important;
  margin: 0 15px;
}

.sidebar .nav-link {
  display: flex !important;
}

.sidebar .nav-item.active a {
  background-color: var(--main-primary);
  color: var(--main-white) !important;
  font-weight: bold !important;
}

.top-bar-title a.nav-link {
  font-weight: bold;
  font-size: 25px;
  line-height: 59px;
  color: var(--main-primary);
  display: flex;
}

.top-bar-title a.nav-link span.material-icons {
  margin: 0 10px;
  font-size: 32px;
}

.top-bar-title a.nav-link {
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  color: var(--main-primary);
  display: flex;
  padding-left: 0;
}

.top-bar-title a.nav-link span.material-icons {
  margin: 0 10px;
  font-size: 32px;
}

.container-fluid {
  padding-top: 25px;
  overflow-y: auto;
}

.topbar #sidebarToggleTop {
  color: var(--main-primary) !important;
  background-color: transparent !important;
  outline: none;
  box-shadow: none;
}

/* Bootstrap 4 text input with search icon */
.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.navbar-search input {
  width: 290px !important;
}

.notification-btn a {
  width: 38px;
  height: 38px !important;
  max-width: 38px;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: var(--main-outline);
  padding: 0 !important;
  text-align: center !important;
  display: block !important;
}

.has-search .form-control {
  padding: 6px 8px 6px 2.2em;
  font-size: 16px !important;
}

.has-search .form-control-feedback {
  font-size: 20px;
}

ul.navbar-nav.action-btn {
  margin: 0px 5px 0 18px;
}

.nav-link-footer {
  display: flex !important;
  font-weight: normal !important;
  width: 100% !important;
  margin: 5px 0px;
  padding: 10px 25px;
  border-radius: 4px;
  color: var(--main-primary) !important;
  text-decoration: none !important;
}

a.nav-link-footer>*:last-child, .nav-link-footer>a>*:last-child {
  margin-left: 16px;
}

.nav-link-footer.nav-profile>a {
  display: inherit;
  font-weight: inherit;
  width: inherit;
  margin: inherit;
  color: inherit;
  text-decoration: inherit;
}

.nav-profile {
  border-top-style: solid;
  border-radius: 0;
  border-width: 1px;
  border-color: var(--main-outline);
  padding-top: 15px;
  padding-bottom: 15px;
}

.sidebar-profile-privelege {
  font-size: 13px;
}

.sidebar-profile-name {
  font-weight: bold;
}

.sidebar-profile-label-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-profile-label-group>div {
  line-height: 15px;
}

.notification-btn a span.material-icons {
  line-height: 34px;
}

.sidebar-footer {
  margin-top: auto;
}

.sidebar-profile {
  width: 49px;
  height: 49px;
  border-radius: 50%;
}

.sidebar-profile-action {
  justify-content: center;
  align-items: center;
  display: flex;
}

.sidebar-profile-action span {
  color: var(--main-primary);
}

.nav-grey-element * {
  color: rgba(0, 0, 0, 0.54);
}

.sidebar .nav-link:hover {
  background-color: var(--main-primary);
  color: var(--main-white) !important;
}

.sidebar .nav-link {
  transition: .2s;
}

.dashboard-cards .card-label {
  font-size: 16px;
  color: var(--main-text) !important;
}

.card-body {
  padding: 10px 15px 5px 15px;
}

.card-value {
  font-size: 42px;
  color: var(--main-text) !important;
  line-height: 60px;
}

.card-green {
  background-color: var(--card-green);
}

.card-blue {
  background-color: var(--card-blue);
}

.card-purple {
  background-color: var(--card-purple);
}

/* Custom Calendar Styles */
.fc {
  background: #fff;
}

.fc td.fc-today {
  background: #f2f2f2 !important;
}

.fc .fc-event {
  background-color: transparent;
  border: 0;
}

.fc .fc-content {
  padding: 2px;
  color: #fff;
}

.fc .fc-state-active {
  background-image: none;
  outline: 0;
  color: #fff;
  box-shadow: none;
  text-shadow: none;
}

.fc button {
  background: transparent;
}

.row.calendar-wrapper {
  padding: 15px 25px;
}

.fc .fc-state-default {
  border-color: var(--main-primary);
  color: var(--main-primary);
}

.fc .fc-state-active {
  background-color: var(--main-primary);
  color: var(--main-white);
}

.fc-center>h2 {
  color: var(--main-primary);
}

.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
  border-color: var(--main-outline) !important;
}

th.fc-day-header.fc-widget-header>span {
  font-weight: 500;
  color: var(--main-text);
  font-size: 16px;
  line-height: 40px;
}

td.fc-event-container a {
  margin: -1px;
  font-size: 12px;
  line-height: 20px;
}

td.fc-event-container .fc-content {
  background-color: #D9EDF7;
  color: var(--main-text);
}

ul#accordionSidebar {
  overflow-y: auto;
  height: 155px !important;
}

.nav-link.nav-add-btn {
    color: var(--main-primary) !important;
    padding: 0 !important;
}

.nav-link.nav-add-btn:hover {
    color: var(--main-secondary) !important;
}

a.nav-link.nav-add-btn span {
    font-size: 40px;
}

.table {
    color: var(--main-text) !important;
}

.table-action-btn {
    color: var(--primary-text);
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent;
    padding: 0;
}

.table-action-btn:hover {
    color: var(--primary-secondary) !important;
}


/* Responsive */

@media screen and (max-width: 768px) {
  .sidebar-dark a.nav-link span {
    font-size: 10px !important;
  }

  .sidebar-dark a.nav-link {
    display: flex;
    flex-direction: column;
  }

  .sidebar-dark a.nav-link .material-icons {
    margin: 0 !important;
  }

  a.sidebar-brand {
    padding: 0px !important;
  }

  ul.navbar-nav.action-btn {
    margin-left: auto;
  }

  .notification-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a.nav-link-footer {
    text-align: center;
    display: flex;
    flex-direction: column;
  }

  a.nav-link-footer span:last-child {
    margin: auto;
    text-align: center;
    font-size: 10px;
  }

  .nav-link-footer>a {
    display: flex;
    flex-direction: column;
  }

  .nav-link-footer>a>div {
    margin: 0 !important;
    text-align: center;
    padding-top: 14px;
  }

  .sidebar-profile-action {
    display: none;
  }
}
