<div class="form-signin left-align">
  <h1>Organization Setup</h1>
  <p class="separator-20"></p>
  <div class="form-group">
    <label for="exampleInputText1">Clinic Name</label>
    <input type="text" class="form-control" id="exampleInputText1" aria-describedby="textHelp" placeholder="Enter name">
  </div>
  <div class="form-group">
    <label for="exampleInputText2">Tagline</label>
    <input type="text" class="form-control" id="exampleInputText2" placeholder="Enter tagline (optional)">
  </div>
  <div class="form-group">
    <label for="exampleInputText3">Address</label>
    <input type="password" class="form-control" id="exampleInputText3" placeholder="Enter clinic address">
  </div>
  <div class="form-group">
    <label for="exampleInputText4">Phone Number</label>
    <input type="password" class="form-control" id="exampleInputText4" placeholder="Enter phone number">
  </div>
  <p class="separator-10"></p>
  <a class="btn btn-lg btn-primary btn-block" href="#">Save</a>
</div>
